<!doctype html>
<html>
  <head>
      <title>{{ title }} - Motes</title>
  </head>

   <body>
      <h1>Hello WAMP, {{ user.nickname }}!</h1>
      <p>Open JavaScript console to watch output.</p>

      <script src="https://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz"></script>
      <script>
         var connection = new autobahn.Connection({
            url: "ws://127.0.0.1:8080/ws",
            realm: "crossbardemo"
         });

         connection.onopen = function (session) {
            console.log("connected");

            var received = 0;

            function onevent1(args) {
              received += 1;
              console.log("Got event:", args[0], received);
            }

            session.subscribe('com.myapp.mcu.receiveMessage', onevent1);
         };
         connection.open();
      </script>
   </body>
</html>
